
<li>
    <i class="icon-check" data-icon="icon-check"></i>
    <span>.icon-check</span>
</li>

<li>
    <i class="icon-globe" data-icon="icon-globe"></i>
    <span>.icon-globe</span>
</li>

<li>
    <i class="icon-lock" data-icon="icon-lock"></i>
    <span>.icon-lock</span>
</li>

<li>
    <i class="icon-rss" data-icon="icon-rss"></i>
    <span>.icon-rss</span>
</li>
