/*------------------------------------*\
    $CUSTOM_ICONS
\*------------------------------------*/

@font-face {
  font-family: "fontcustom";
  src: font-url("fontcustom.eot");
  src: font-url("fontcustom.eot?#iefix") format("embedded-opentype"),
       font-url("fontcustom.woff") format("woff"),
       font-url("fontcustom.ttf") format("truetype"),
       font-url("fontcustom.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: font-url("fontcustom.svg#targetbase-icons") format("svg");
  }
}

[data-icon]:before,
<%= glyph_selectors %> {
<%= glyph_properties %>
}

<%= glyphs %>